<%- include('partials/header'); -%>
<div id="body" class="container">
  <div class="row mx-lg-5 m-md-0">
    <img class="img-hero p-lg-3 p-md-0" src="<%= article.image %>" alt="Article image">
    <div class="row mx-lg-5 m-md-0">
      <div class="col-lg-4 col-md-6 col-8 my-4 my-md-3 border-r">
        <h1 class="mb-3"> <%= article.title %> </h1>
        <p class="card-text"> <%= article.detail %> </p>
      </div>
      <div class="col-lg-8 col-md-12 post-text">
        <p class="m-lg-4 pt-1 m-sm-1"> <%= article.content %> </p>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
