<%- include('partials/header'); -%>

    <div id="body">
      <div class="container ">
        <img class="image" src="images/expo/<%- article.image -%>" alt="<%- article.title -%>">
        <h1 class="text-center"><%- article.title -%></h1>
      </div>
    </div>

<%- include('partials/footer'); -%>
